# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# C extensions
*.so
*.dylib

# CMake
build*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Virtual environments
.venv/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
